<header class="header">
    <nav class="nav">
      <div class="nav-part">
        <h1 class="logo">Logo</h1>
      </div>
      <div class="nav-part">
        <a href="/" class="nav-link">Home</a>
        <a href="/products" class="nav-link">Products</a>
      </div>
    </nav>
  </header>