<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <h1>Все продукты </h1>
    <ul>
        <% data.forEach((element, idx)=> { %>
            <li><a href="/products/<%= idx +1  %>">
                    <%= element.title %>
                </a>

            </li>
            <% }); %>
    </ul>

</body>

</html>